<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration   
  PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">  
  	<!-- mybatis全局设置 -->
<configuration>
	<!-- 开启延迟加载 --> 
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="true"/>
	</settings>
</configuration>   